<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>    
    
    <link rel="stylesheet" href="/css/style.css">    
</head>
<body>

    <div class="main-content">
        {{>header}} <!-- calling header from partial header.hbs-->
        <p>{{errormsg}}</p>
        
    </div>
    

    {{>footer}}      <!-- calling footer from partial footer.hbs-->
</body>
</html>