
<header>
    <h1>{{title}}</h1>
{{!-- for deploying the app in heroku i have commented Homehbs and abouthbs and had made all About and Help same page home page --}}

    {{!-- home static --}}
    <a href="/">Home</a>

    {{!-- <a href="/indexhbs">Homehbs</a> --}}

    <a href="/abouthbs">About</a>
    {{!-- <a href="/abouthbs">about</a> --}}
    <a href="/">Help</a>
</header>